.product-header{
  padding: 120px 150px 0;
  text-align: center;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) {
  .product-header{
    padding: 15px 15px 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .product-header{
    padding: 30px 30px 0;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .product-header{
    padding: 75px 75px 0;
  }

}
