.product-header {
  padding: 120px 150px 0;
  text-align: center;
}

.product-header h1 {
  color: #383838;
  font-weight: bold;
  font-size: 56pt;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) {
  .product-header {
    padding: 15px 15px 0;
  }

  .product-header h1 {
    font-size: 16pt;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .product-header {
    padding: 30px 30px 0;
  }

  .product-header h1 {
    font-size: 18pt;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .product-header {
    padding: 75px 75px 0;
  }

  .product-header h1 {
    font-size: 24pt;
  }
}

.product-points-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow-x: auto;
  padding: 10px 0px;
  height: 300px;
}
.pp {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
}
.pp-selected {
  border: 2px solid red;
}
.pp-1 {
  background: url("../../../utilities/prod1.png");
  background-size: cover;
}
.pp-2 {
  background: url("../../../utilities/prod2.png");
  background-size: cover;
}
.pp-3 {
  background: url("../../../utilities/prod3.png");
  background-size: cover;
}
.pp-4 {
  background: url("../../../utilities/prod4.png");
  background-size: cover;
}
.pp-5 {
  background: url("../../../utilities/prod5.png");
  background-size: cover;
}
.pp-6 {
  background: url("../../../utilities/prod6.png");
  background-size: cover;
}
.pp-description {
  position: absolute;
  left: -50%;
  width: 300px;
  background: lightgrey;
  top: 150px;
  padding: 10px;
  text-align: center;
}
