.jumbotron {
  color: white;
  background-image: url('../../utilities/hero-slider.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) and (max-width: 575.98px) {
  .jumbotron {
    background-position: center;
    height: 300px;
    margin-bottom: 0px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}
