.vh-sos-wrapper {
  position: relative;
}
.vh-sos-text-wrapper {
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  z-index: 2;
}
.vh-sos-p1 {
  font-weight: bold;
  font-size: 1.4em;
}
.vh-sos-p2 {
  font-weight: bold;
  color: red;
  font-size: 2.5em;
  font-style: italic;
}
.red-divider {
  border-top: 2px solid red;
}
.divider-text {
  text-transform: uppercase;
  color: #666;
}

.divider-container {
  display: grid;
  grid-template-columns: 70px 1fr;
  max-width: 200px;
}

@media (max-width: 700px) {
  .vh-sos-text-wrapper {
    top: -70px;
    width: 100%;
    text-align: center;
  }
  .divider-container {
    display: none;
  }
}
