.btn-discover {
  font-size: 19.5pt;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  color: #fff;
  background: red;
  border: 2px solid red;
  padding: 15px 30px;
}

.btn-discover:hover {
  color: rgba(217, 83, 78, 0.75);
  background: transparent;
  border: 2px solid red;
}

.discover-button-wrapper {
  text-align: right;
}

.line {
  margin-top: 15px;
}

.line hr {
  background: red;
  border-top-width: 2px;
  margin: 0 auto;
  max-width: 900px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) and (max-width: 575.98px) {
  .discover-button {
    text-align: right;
    padding: 0px 25px;
  }

  .line hr {
    background: red;
    max-width: 250px;
    margin: 0 auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .line hr {
    background: red;
    max-width: 350px;
    margin: 0 auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .line hr {
    background: red;
    max-width: 400px;
    margin: 0 auto;
  }

  .btn-discover {
    font-size: 12.5pt;
    height: 50px;
    width: 180.5px;
  }
}
