.pf-container {
  padding: 120px 150px 0;
}
.pf-element {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.horizontal-bar {
}

.horizontal-bar img {
  height: 100px;
}
.top-horizontal-bar {
  margin: 70px 0 80px 100px;
}

.pf-title,
.pf-header-title {
  font-size: 32px;
  font-weight: bold;
}

.pf-title::after {
  content: "";
  display: block;
  height: 30px;
  width: 500px;
  background-color: #e1d9c9;
  margin-top: -20px;
  margin-left: 70px;
}

.pf-slider {
  margin-top: 120px;
}

.pf-header-right h3 {
  font-size: 32px;
  font-weight: bold;
  align-self: flex-end;
}

.pf-header-right {
  margin-bottom: 50px;
  text-align: right;
  font-size: 32px;
  font-weight: bold;
}

.pf-header-right > h3::after {
  margin-top: -20px;
  margin-left: 75%;
  content: "";
  display: block;
  height: 30px;
  width: 500px;
  background-color: #e1d9c9;
}

.intro-element a {
  color: red;
  font-weight: bold;
  font-size: 10pt;
}

.right-intro p,
.right-intro a,
.right-intro > .horizontal-bar {
  padding: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}

.pf-section {
  margin-top: 100px;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) {
  .pf-container {
    padding: 15px 15px 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .pf-container {
    padding: 30px 30px 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .pf-container {
    padding: 75px 75px 0;
  }
}
