.home-heading {
  position: relative;
  background: url('../../utilities/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
}

.dark-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.nl-big {
  font-size: 35px;
}
.nl-subtext {
  text-transform: uppercase;
  font-size: 15px;
}
.nl-join-btn {
  border-radius: 0px;
}
