.selling-points {
  background: #f3f4f6;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.sp-wrapper {
  margin: auto;
  height: 30px;
  padding: 7px 0px;
}

.sp-divider {
  font-weight: 800;
}

@media (max-width: 500px) {
  .sp-container {
    display: block;
    text-align: center;
  }
  .sp-wrapper {
    height: 50px;
  }
  .sp-divider {
    display: none;
  }
}

.sp-img {
  margin-right: 5px;
}
