/*=-footer-=*/
footer {
  color: black;
  background-attachment: fixed;
  background-color: #f3f3f3;
  background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
  background-size: cover;
  background-position: bottom;
}
footer p {
  color: black;
  text-transform: uppercase;
  font-size: 15px;
}

footer a {
  color: black;
}
.social-pet li {
  display: inline-block;
  margin-right: 10px;
}
.social-pet li a {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  text-align: center;
  display: block;
  line-height: 35px;
  color: black;
}
.social-pet li a i {
  font-size: 25px;
  cursor: pointer;
}

.social-youtube {
  color: red !important;
}

.recent-post li {
  display: block;
  color: #ccc;
  margin-bottom: 25px;
}
.recent-post li label {
  float: left;
  border: 2px solid #ccc;
  padding: 1px 7px;
  text-align: center;
}
.recent-post li label span {
  color: #fff;
}
footer .input-group-addon {
  background-color: #0141a2;
  padding: 10px;
}
.f-address li {
  display: inline-block;
}
.f-address li i {
  color: #2995de;
  font-size: 18px;
}
.f-address li a {
  color: #ccc;
}
/*=-Copyright-=*/
.copyright {
  background-color: #111;
  padding: 12px 0;
  font-size: 14px;
}
