.fys-wrapper {
  margin-bottom: 80px;
}
.fys-header {
  font-weight: bold;
  text-transform: uppercase;
}
.red-divider {
  width: 70px;
  border-top: 2px solid red;
}

hr.page-divider {
  background: red;
  border-top-width: 2px;
  margin: 0 auto;
  max-width: 900px;
}
.small-link {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.sys-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.sys-element {
  position: relative;
}
.sys-element > img {
  width: 100%;
}
.sys-element > .img-link {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  border-radius: 50%;
  background: red;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 3px 0px;
  cursor: pointer;
}
.sys-element > .img-link > i {
  transform: rotate(45deg);
  color: #fff;
  font-size: 13px;
}
.sys-element > .sys-text-container {
  position: absolute;
  text-align: center;
  bottom: 40px;
  width: 100%;
  font-weight: bold;
}
.sys-element > .sys-text-container .sys-name {
  color: #fff;
}

.sys-element > .sys-text-container .sys-role {
  color: gray;
  text-transform: uppercase;
  font-size: 12px;
}
