.product-link {
  background: red;
}

.pi-sos-wrapper {
  position: relative;
}
.pi-sos-text-wrapper {
  text-transform: uppercase;
  position: relative;
}
.pi-sos-p1 {
  font-weight: bold;
  font-size: 1.4em;
}
.pi-sos-p2 {
  font-weight: bold;
  color: red;
  font-size: 2.5em;
  font-style: italic;
}
.red-divider {
  border-top: 2px solid red;
}
.divider-text {
  text-transform: uppercase;
  color: #666;
}

.divider-container {
  display: grid;
  grid-template-columns: 70px 1fr;
  max-width: 200px;
}

@media (max-width: 700px) {
  .pi-sos-text-wrapper {
    top: -70px;
    width: 100%;
    text-align: center;
  }
  .divider-container {
    display: none;
  }
}
.pi-text {
  color: grey;
}
.small-link {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
