@import '../../../index.scss';

@media (min-width: 992px) {
  .promo-nav {
    min-height: 3px;
    left: 0;
    right: 0;
    background: $mainRed;
  }
}

@media (min-width: 992px) {
  .tool-row {
    min-height: 40px;
    left: 0;
    right: 0;
    background: $mainBlack;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) and (max-width: 575.98px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}
